<div class="mainsection">
      <div class="profileHeader" style="background-image: url(penn.jpg);">
        
        <h1><%= @scholarship.name %></h1>
      </div>
      <div class="scholarshipSection row">
        <!-- Left profile box - Overview -->
        <div class="col-md-4 col-sm-12 cl-xs-12">
          <div class="box-frame">
            <p class="sectionHeading">Overview</p>
            <div class="subHeading">Amount</div>
            <p><%= @scholarship.amount %></p>
            <div class="subHeading">Deadline</div>
            <p><%= @scholarship.deadline %></p>
            <div class="subHeading">Website</div>
            <p><%= @scholarship.link %></p>

            <div class="subHeading">Description</div>
            <div class="expandable">
              <p><%= @scholarship.description %></p>
            </div> <!-- Close Expandable -->
          </div> <!-- Close boxframe -->
        </div> <!-- Close main column -->
          <!-- Center profile box - Fin Info -->
        <div class="col-md-4 col-sm-6 cl-xs-12">
          <div class="box-frame">
            <p class="sectionHeading">Eligibility</p>
            
            <p><%= @scholarship.eligibility %></p>
          </div> <!-- Close boxframe -->
        </div> <!-- Close main column -->
          <!-- Right profile box - Popular Programs & Student Comments -->
        <div class="col-md-4 col-sm-6 cl-xs-12">
          <div class="box-frame">
            <p class="sectionHeading">Similar Programs</p>
            <p>
              
            </p>
            
            <p>
              See all Programs at #####
            </p>
          </div> <!-- Close boxframe -->
          <div class="box-frame">
            <p class="sectionHeading">Student Comments</p>
            <p class="text-right">latest</p>
            <p>
              <span class="commentStudentName">Jackie Mai:</span>
              <span class="commentStudentText">"Beautiful Campus, Love it!"</span>
            </p>
            <p>
              <span class="commentStudentName">Jackie Mai:</span>
              <span class="commentStudentText">"Beautiful Campus, Love it!"</span>
            </p>
            <p>
              <span class="commentStudentName">Jackie Mai:</span>
              <span class="commentStudentText">"Beautiful Campus, Love it!"</span>
            </p>
          </div> <!-- Close boxframe -->

        </div> <!-- Close main column -->
      </div> <!-- Close row -->
    </div> <!-- Close body class -->


<p id="notice"><%= notice %></p>
