<!DOCTYPE html>
<html>
<head>
  <title>Femmehacks16v2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= link_to 'Home', root_path %> | <%= link_to "All Scholarships", '/scholarships' %>
 | <%= link_to 'Categories', '/categories' %>

<% form_tag '/scholarships', :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

 <%= yield %>

</body>
</html>
