<!DOCTYPE html>
<html>
<head>
  <title>Femmehacks2016</title>
  <%= stylesheet_link_tag  'style',  media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw==" crossorigin="anonymous">
</head>
<body>

	<div id="header">
	<ul>
  <li><%= link_to 'Home', root_path %> </li>
  <li><%= link_to "Scholarships", '/scholarships' %></li>
  <li><%= link_to 'Categories', '/categories' %></li>
  <li><a href="">Schools</a></li>
  <li><a href="">Forum</a></li>
   </ul>

	</div>

<%= yield %>


</body>
</html>
